.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        margin: 1rem;
    }

    a {
        border: 1px solid transparent;
        color: #292929;
        text-decoration: none;
        padding: 0.5rem;

        &:hover,
        &:active,
        &.active {
            background: #f8df00;
            border-color: #292929;
            color: #292929;
        }
    }

    button {
        cursor: pointer;
        color: #292929;
        border: 1px solid #292929;
        background: transparent;
        padding: 0.5rem;
        font: inherit;

        &:focus {
            outline: none;
        }

        &:hover,
        &:active {
            background: #292929;
            color: white;
        }
    }
}

@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;

        li {
            margin: 0 0.5rem;
        }

        a {
            color: white;
            text-decoration: none;
        }

        button {
            border: 1px solid white;
            background: transparent;
            color: white;

            &:hover,
            &:active {
                background: #f8df00;
                border: 1px solid #292929;
                color: #292929;
            }
        }
    }
}
